<p id="notice"><%= notice %></p>

<h1>
  <%= @news.title.titleize %>
</h1>

<h3 class="text-muted">
  <%= @news.subtitle.titleize %>
  
</h3>
<h5> <%= @news.published.strftime("%B %d, %Y") %></h5>
<%= image_tag @news.cover_picture, :class => "img-fluid" %>

<p>
  <%= @news.body %>
</p>


<p>
  <strong>Updated:</strong>
  <%= @news.updated %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', root_path %>
